<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Dashboard Seguro - Home</title>
</head>
<body>
    <span>● Sessão Criptografada</span>
    <h1>Acesso Autorizado!</h1>
    
    <p>Bem-vindo ao sistema seguro, <strong>{{ nome }}</strong>.</p>
    <p>Seu login foi validado com biometria comportamental e MFA (2FA).</p>
    
    <hr>
    
    <p>Seus logs de acesso foram registrados na base de auditoria.</p>
    
    <a href="/logout">Encerrar Sessão</a>
</body>
</html>